@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofA-seUYevN.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Nunito Light'), local('Nunito-Light'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofAnsSUYevN.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v12/XRXV3I6Li01BKofINeaE.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Nunito SemiBold'), local('Nunito-SemiBold'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofA6sKUYevN.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Nunito Bold'), local('Nunito-Bold'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofAjsOUYevN.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofAksCUYevN.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Nunito Black'), local('Nunito-Black'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofAtsGUYevN.ttf) format('truetype');
}
.solid-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1B9BEA;
  color: #FFFFFF;
  border-radius: 4px;
  width: 115px;
  height: 33px;
  font-weight: 300;
  margin-right: 10%;
}
.solid-button:hover {
  background-color: #9BA6AD;
}
.app-store-button {
  width: 115px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.rounder-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1B9BEA;
  color: #FFFFFF;
  border-radius: 20px;
  width: 150px;
  height: 28px;
  font-weight: 300;
  margin: 4% auto;
}
.rounder-button:hover {
  background-color: #9BA6AD;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
  font-size: 62.5%;
}
* {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 2.1rem;
}
h2 {
  font-size: 1.8rem;
}
p {
  font-size: 1.4rem;
}
nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 5% 3% 0.5%;
}
nav .guess-who-logo {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  letter-spacing: 0.01em;
}
nav .guess-who-logo .logo-guess-font {
  font-weight: bold;
  color: #1B9BEA;
  font-size: 2rem;
  font-weight: 900;
}
nav .guess-who-logo .logo-who-font {
  font-weight: 900;
  color: #FFFFFF;
  font-size: 2rem;
  text-shadow: #1B9BEA 0px 0px 1px, #1B9BEA 0px 0px 1px, #1B9BEA 0px 0px 1px, #1B9BEA 0px 0px 1px, #1B9BEA 0px 0px 1px, #1B9BEA 0px 0px 1px;
}
nav .nav-links {
  height: 100%;
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 800px) {
  nav .nav-links {
    width: 35%;
  }
}
nav .nav-links a {
  color: #1B9BEA;
  text-decoration: none;
}
nav .nav-links a:hover {
  color: #657786;
}
.top-section {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  padding-left: 3%;
}
@media (max-width: 800px) {
  .top-section {
    justify-content: center;
    text-align: center;
    height: 100%;
    margin-bottom: 10px;
  }
}
.top-section .top-section-left {
  width: 42%;
  margin-bottom: 10%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 800px) {
  .top-section .top-section-left {
    width: 60%;
  }
}
@media (max-width: 800px) {
  .top-section .top-section-left {
    align-items: center;
  }
}
.top-section .top-section-left .top-section-text {
  margin-top: 10%;
  color: #1B9BEA;
}
.top-section .top-section-left .top-section-text p {
  margin-top: 5%;
  font-size: 0.8rem;
}
.top-section .top-section-left .top-section-buttons {
  display: flex;
  justify-content: space-between;
  margin: 3% 0;
}
.top-section .top-section-left .top-section-buttons a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.top-section .top-section-right {
  width: 50%;
  background-repeat: no-repeat;
  background-image: url(../img/iphone.png);
  background-size: contain;
}
@media (min-width: 1100px) {
  .top-section .top-section-right {
    margin-left: 10%;
  }
}
@media (max-width: 800px) {
  .top-section .top-section-right {
    display: none;
  }
}
.middle-section {
  width: 100vh;
  height: 100%;
  min-height: 350px;
  padding: 3%;
  background-image: url(/img/blue-background-section.png);
  background-size: cover;
  width: 100vw;
  color: white;
}
@media (max-width: 500px) {
  .middle-section {
    height: 100%;
    text-align: center;
    margin: 0;
  }
}
.middle-section h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 5;
  font-size: 1.5rem;
}
.middle-section h2 .category-bold {
  font-weight: 600;
}
.middle-section .middle-section-split {
  padding: 2% 0% 4% 4%;
  height: 25vh;
  width: 85%;
  display: flex;
  justify-content: center;
}
@media (min-width: 1100px) {
  .middle-section .middle-section-split {
    padding: 1% 0% 4% 4%;
  }
}
@media (max-width: 500px) {
  .middle-section .middle-section-split {
    margin-left: 5%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
}
.middle-section .middle-section-split p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 3%;
}
.middle-section .middle-section-split .middle-section-left {
  width: 50%;
  margin-right: 5%;
}
@media (max-width: 500px) {
  .middle-section .middle-section-split .middle-section-left {
    width: 80%;
    margin: 0 0 0 0;
  }
}
.middle-section .middle-section-split .middle-section-right {
  width: 37%;
  margin-left: 5%;
}
@media (max-width: 500px) {
  .middle-section .middle-section-split .middle-section-right {
    width: 50%;
    margin: 5% 0 0 0;
  }
}
.bottom-section {
  color: #1B9BEA;
  padding: 3% 3% 1% 3%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
@media (max-width: 500px) {
  .bottom-section {
    flex-direction: column;
    padding: 0;
  }
}
.bottom-section h4 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 7%;
}
.bottom-section p {
  margin-top: 5%;
  font-size: 1.1rem;
  font-weight: 400;
}
.bottom-section .high-score {
  width: 30%;
}
@media (max-width: 500px) {
  .bottom-section .high-score {
    width: 90%;
    margin: 5%;
  }
}
.bottom-section .high-score img {
  margin-top: 7%;
  width: 50%;
}
.bottom-section .category-buttons {
  width: 30%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1100px) {
  .bottom-section .category-buttons {
    width: 300px;
  }
}
@media (max-width: 500px) {
  .bottom-section .category-buttons {
    width: 100%;
    padding: 5% 20%;
    background-color: #d0d3da;
  }
}
.bottom-section .category-buttons .first {
  margin-left: 10px;
}
.bottom-section .category-buttons .second {
  margin-right: 10px;
}
.bottom-section .category-buttons .third {
  margin-left: 10px;
}
.bottom-section .category-buttons .fourth {
  margin-right: 10px;
}
.bottom-section .category-buttons .fifth {
  align-self: center;
  background-color: white;
  color: #1B9BEA;
  border: 1px solid #1B9BEA;
}
.bottom-section .category-buttons .fifth:hover {
  background-color: #9BA6AD;
  color: white;
}
.bottom-section .challenge-friends {
  width: 30%;
}
@media (max-width: 500px) {
  .bottom-section .challenge-friends {
    width: 90%;
    margin: 5%;
  }
}
.bottom-section .challenge-friends img {
  margin-top: 7%;
  width: 20%;
}
.copyright {
  margin-top: 5%;
}
.copyright p {
  font-size: 0.8rem;
  color: #1B9BEA;
  text-align: center;
}
body {
  min-height: 1000px;
}
#about-header .about-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% auto 5%;
  text-align: center;
  color: #1B9BEA;
}
#about-header .about-header-text h2 {
  font-family: 'Roboto', sans-serif;
}
#about-header .about-header-text p {
  font-family: 'Roboto', sans-serif;
}
.about-content {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5%;
  text-align: center;
  color: white;
  background-image: url(../img/blue-background-section.png);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 800px) {
  .about-content {
    padding-top: 2%;
  }
}
.about-content h2 {
  font-family: 'Roboto', sans-serif;
}
.about-content .team-cards {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
}
@media (min-width: 1100px) {
  .about-content .team-cards {
    width: 65%;
  }
}
@media (max-width: 800px) {
  .about-content .team-cards {
    width: 70%;
  }
}
.about-content .team-cards a {
  margin: 1%;
  width: 45%;
}
@media (max-width: 500px) {
  .about-content .team-cards a {
    width: 80%;
    margin: 2%;
  }
}
.about-content .team-cards .about-copyright {
  width: 100%;
}
.about-content .team-cards .about-copyright p {
  font-size: 0.8rem;
  color: white;
  text-align: center;
}
