#about-header {
    height:20vh;
    .about-header-text {
        margin: 5% auto;
        text-align: center;
        h2 {
            font-family: @mainFont;
        }
        p {
            font-family: @mainFont;
        }
    }
}

.about-content {
    padding-top: 5%;
    text-align: center;
    color:white;
    background-image: url(../img/about-background.png);
    background-size: cover;
    height: 80vh;
    h2 {
        font-family: @mainFont;
    }
    .team-cards{
        padding-top: 5%;
        margin-left: 25%;
        display: flex;
        flex-wrap: wrap;
        width:50%;
        .team-card{
            margin:1%;
            width:48%;
        }
    }   
    .about-copyright {
        p {
            font-size: 0.8rem;
            color: white;
            text-align: center;
        }
    }
}