.top-section {
    display:flex;
    justify-content: space-between;
    padding:5%;
    .top-section-left {
        width:100%;
        height:75%;
        font-family: @mainFont;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        .top-section-text{
            width: 100%;
            color: @twitterBlue;
            p{
                margin-top: 5%;
                font-size: 0.8rem;
            }
        }// .top-section-text
        .top-section-buttons {
            display: flex;
            justify-content: flex-start;
            width:100%;
        }// .top-section-buttons
    }// .top-section-left
    .top-section-right {
        width: 100%;
        img{
            width: 100%;
        }
    }// .top-section-right
}// .top-section

/* Have fun testing your knowledge with Guess Who! */

