header{
  display: flex;
  padding-right: 2%;
  padding-left: 2%;
  height: 60vh;

  p{
    font-size: 6.4rem;
    line-height: 7.5rem;
    color: @header-section-color;
    width: 100%;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 4%;
  }

  h2{
    color: @header-section-color;
    width: 100%;
    margin-bottom: 3%;
  }
  .leftContainer{
    width: 45%;
    img{
      margin-right: 2%;
    }
  }
  .headerImgContainer{
    display: flex;
    width: 45%;
    justify-content: flex-start;
    img{
      width: 100%;
    }
  }
}

main{
  padding: 1% 2% 2% 2%;
  background-image: url(/Design-Files/Main\ background.png);
  color: white;
  height: 35vh;

  .startingContainer{
    margin-bottom: 1%;
    width: 50%;
  }

  .middleSectionContainer{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .sampleTweetContainer{
    width: 35%;
    .sampleTweet{
      h2{
        padding-bottom: 2%;
      }
    }
  }
  .whoSaidIt{
    display: flex;
    width: 100%;
    flex-direction: column;
    img{
      padding: 2% 0%;
    }
    h2{
      padding-bottom: 2%;
    }
  }
}

section{
  display: flex;
  justify-content: space-evenly;
  color: @header-section-color;
  margin-top: 4%;
  margin-bottom: 10%  ;
  h2{
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    line-height: 2.8rem;
  }
  h3{
    line-height: 2.5rem;
    text-align: center;
    padding: 5% 0%;
  }
  .highScoreContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    h2, h3, img{
      margin: 2% 2%;
      width: 100%;
    }
    img{
      height: 18vh;
      width: 10vw;
    }
  }
  .categoriesContainer{
    display: flex;
    flex-direction: column;   
    h2{
      padding-bottom: 4%;
      width: 100%;
    }
    .categoriesBubble{
      width: 85%;
      height: 3vh;
      border: 1px solid @header-section-color;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: @header-section-color;
      font-size: 1.8rem;
      line-height: 2.1rem;
      margin: 2% 0% 6% 0%;
    }
    .categoriesBubble2{
      margin-left: 15%;
    }
    .categoriesBubble4{
      margin-left: 15%;
    }
    .categoriesBubble5{
      color: @header-section-color;
      background-color: white;
      margin-left: 7.5%;
    }
  }
   .challengeImgs{
     img{
       padding: 0% 2%;
       width: 30%;
       margin-left: 2%;
     }
   }
}