.solid-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @twitterBlue;
    color: #FFFFFF;
    border-radius: 4px;
    width:115px;
    height: 33px;
    font-weight: 300;
    margin-right: 10%;
    
    &:hover {
        background-color: @twitterGray;
    }// &:hover
}// .solid-button
.app-store-button {
    width:115px;
    height:37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.rounder-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @twitterBlue;
    color: #FFFFFF;
    border-radius:20px;
    width:150px;
    height: 28px;
    font-weight: 300;
    margin: 4% auto;

    &:hover {
        background-color: @twitterGray;
    }// &:hover
}