.solid-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @twitterBlue;
    color: #FFFFFF;
    border-radius: 4px;
    width:100px;
    height: 30px;
    margin: 2%;
}