nav{
  display: flex;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 1%;
  .linkContainer{
    display: flex;
    flex-basis: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    a{
      width: 15%;
      color: @header-section-color;
      text-align: center;
    }
  }
}