// COLORS //

@twitterBlue: #1B9BEA;
@mainFontColor: #14171A;
@backgroundColor: #657786;
@twitterGray: #9BA6AD;
@backgoundColor: #FFFFFF;

// FONTS //

//Roboto//
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

